In [ ]:
what is multiple regresion?
multiple coulmns as input  and single output coulmn
examples: cars.csv
car brand name + model name + volumne + weight = CO2 emmittion by car
here multiple input and one output

--scatter plot can not be used for multiple regession
laptop name/colour+ memory RAM + screen display +  actual price + selling price
m0x0+m1x1+m2x2+m3x3

In [ ]:
scaling technique: to minimize range of data of required input coulmns to bring into similar range 
and in more simple version to plot. selecting desired coulmn for perfect output out of 
multiple coulmns and check any negative or null/blank value is present or not


two methoda used 
1.normalization : formula for normalisation x(norm)=X-x(min)/x(max)-x(min)
xmin/xmax is min/max value in each coulmn
x(norm) value always come betw 0 and 1.
2.standardization

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\DATA SCIENCE\JANUARY\car data.csv")

In [3]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
df.info() # to check data type and to check null values are prsent or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
df.shape # 301 rows and 9 coulmns

(301, 9)

In [7]:
df.isnull().sum() # gives sum of all null values of each coulmn

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
df.describe() # of is coulmn and this helps to check any negative vlaue

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [ ]:
here Selling_Price','Present_Price are two inputs in X and  Kms_Driven as one single outptu in "y"

X is in capital and y is small letter

In [12]:
X=df[['Selling_Price','Present_Price']]

In [13]:
X.head()

   Selling_Price  Present_Price
0           3.35           5.59
1           4.75           9.54
2           7.25           9.85
3           2.85           4.15
4           4.60           6.87

In [10]:
y=df.Kms_Driven

In [11]:
y.head()

0    27000
1    43000
2     6900
3     5200
4    42450
Name: Kms_Driven, dtype: int64

In [15]:
from sklearn.linear_model import LinearRegression

In [19]:
model = LinearRegression()

In [20]:
model.fit(X,y)

LinearRegression()

In [22]:
model.coef_  # first is for Selling_Price'and second 3521 is 'Present_Price

# these are M1 and M2

array([-5040.61996811,  3521.37706157])

In [23]:
model.intercept_ # c as intercept we got m1x1 + m2x2 + c = y and ans is CO2 emmitted

33580.30059395795

In [24]:
model.score(X,y) # check accuracy of madel in %

0.14017739846355826

In [26]:
model.predict([[1.29,3.65]])

C:\Users\Comp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([39930.92710984])

In [ ]:
Scaling
1.normalization class name for normalization is MinMaxscaler
 final value always bet 0 and 1

In [27]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

In [30]:
B=df[['Present_Price','Kms_Driven']] # B is input two column and  used for normalization

In [31]:
a=df.Selling_Price

In [34]:
scaledX= scaler.fit_transform(B)

In [35]:
scaledX

array([[0.0571088 , 0.05305305],
       [0.09991331, 0.08508509],
       [0.10327265, 0.01281281],
       [0.04150412, 0.00940941],
       [0.07097963, 0.08398398],
       [0.10305592, 0.00314515],
       [0.08452536, 0.03662863],
       [0.08983528, 0.06592392],
       [0.09286953, 0.03958559],
       [0.09319463, 0.08381782],
       [0.035544  , 0.00327327],
       [0.10901604, 0.1011011 ],
       [0.10424794, 0.02902903],
       [0.08008236, 0.05105105],
       [0.07466407, 0.15400801],
       [0.11345904, 0.08508509],
       [0.11345904, 0.08243844],
       [0.11345904, 0.08508509],
       [0.05169051, 0.07007007],
       [0.08300824, 0.08196597],
       [0.0393368 , 0.04904905],
       [0.05840919, 0.0038038 ],
       [0.08333333, 0.0990991 ],
       [0.03402687, 0.08964965],
       [0.04432163, 0.11287087],
       [0.05060685, 0.03903904],
       [0.06014304, 0.10938539],
       [0.06686173, 0.03143143],
       [0.0393368 , 0.08817217],
       [0.10901604, 0.08908909],
       [0.06133507, 0.10197998],
       [0.04952319, 0.10750751],
       [0.07769831, 0.07707708],
       [0.10435631, 0.08908909],
       [0.08387516, 0.08908909],
       [0.08040746, 0.0990951 ],
       [0.0745557 , 0.09663063],
       [0.02123971, 0.25325325],
       [0.03727785, 0.01917718],
       [0.08300824, 0.12312312],
       [0.08181621, 0.0480961 ],
       [0.0396619 , 0.0925045 ],
       [0.07401387, 0.11511512],
       [0.08387516, 0.09065065],
       [0.0256827 , 0.0990991 ],
       [0.12700477, 0.02902903],
       [0.04952319, 0.12819219],
       [0.04150412, 0.12912913],
       [0.08008236, 0.05079079],
       [0.09720416, 0.07307307],
       [0.32824014, 0.20862262],
       [0.32824014, 0.07907908],
       [0.21077156, 0.02902903],
       [0.32824014, 0.26926927],
       [0.10717382, 0.17917918],
       [0.15951452, 0.13913914],
       [0.07531426, 0.08014815],
       [0.19744257, 0.0990991 ],
       [0.07022107, 0.07804805],
       [0.38621586, 0.08108108],
       [0.19820113, 0.07908108],
       [0.07997399, 0.08025626],
       [0.38621586, 0.15515516],
       [0.38621586, 0.09309309],
       [0.38914174, 0.01101101],
       [0.07184655, 0.08908909],
       [0.24739922, 0.02102102],
       [0.21814044, 0.11711712],
       [0.14542696, 0.17517518],
       [0.22312527, 0.02302302],
       [0.0697876 , 0.14114114],
       [0.13177287, 0.08908909],
       [0.19820113, 0.11111311],
       [0.05840919, 0.08508509],
       [0.09330299, 0.16516517],
       [0.07022107, 0.07107107],
       [0.15561335, 0.14314314],
       [0.13036411, 0.26957758],
       [0.24393151, 0.15915916],
       [0.32824014, 0.17717718],
       [0.15788903, 0.04504505],
       [0.08159948, 0.07907908],
       [0.27167317, 0.02902903],
       [0.14239272, 0.07507508],
       [0.14239272, 0.39374575],
       [0.25368444, 0.28328328],
       [1.        , 0.15515516],
       [0.14542696, 0.11111111],
       [0.06209363, 0.09309309],
       [0.0697876 , 0.07907908],
       [0.19820113, 0.12312312],
       [0.17089293, 0.1155996 ],
       [0.1449935 , 0.14914915],
       [0.32824014, 0.07907908],
       [0.24338968, 0.17717718],
       [0.19820113, 0.14314314],
       [0.27167317, 0.05705706],
       [0.19852622, 0.01641642],
       [0.19820113, 0.08908909],
       [0.21814044, 0.09914715],
       [0.0171218 , 0.00500501],
       [0.01625488, 0.0018018 ],
       [0.01582141, 0.00700701],
       [0.01387083, 0.0014014 ],
       [0.01246207, 0.00720721],
       [0.022215  , 0.04244244],
       [0.03391851, 0.03203203],
       [0.01278717, 0.02902903],
       [0.01278717, 0.03503504],
       [0.01246207, 0.02102102],
       [0.01582141, 0.01101101],
       [0.01278717, 0.01641642],
       [0.0225401 , 0.01301301],
       [0.01170351, 0.06906907],
       [0.01246207, 0.03303303],
       [0.01246207, 0.03403403],
       [0.01246207, 0.06506507],
       [0.0171218 , 0.02702703],
       [0.01246207, 0.05105105],
       [0.0171218 , 0.00980981],
       [0.01018639, 0.01041041],
       [0.01278717, 0.01281281],
       [0.0092111 , 0.01101101],
       [0.01246207, 0.09209209],
       [0.01549632, 0.02202202],
       [0.01549632, 0.07907908],
       [0.00682705, 0.0016016 ],
       [0.00520156, 0.01301301],
       [0.00596012, 0.00500501],
       [0.00563502, 0.00900901],
       [0.00596012, 0.02102102],
       [0.00541829, 0.03503504],
       [0.00682705, 0.00600601],
       [0.00682705, 0.        ],
       [0.00530993, 0.02262262],
       [0.00455137, 0.00900901],
       [0.00953619, 0.04604605],
       [0.00506068, 0.03103103],
       [0.00596012, 0.02902903],
       [0.00682705, 0.03223223],
       [0.00953619, 0.06306306],
       [0.00520156, 0.03903904],
       [0.00563502, 0.05705706],
       [0.00563502, 0.04904905],
       [0.00726051, 0.04904905],
       [0.00530993, 0.03703704],
       [0.00506068, 0.02902903],
       [0.00563502, 0.11511512],
       [0.00671868, 0.08908909],
       [0.00671868, 0.04704705],
       [0.00548331, 0.01101101],
       [0.00249241, 0.06106106],
       [0.00726051, 0.02502503],
       [0.00726051, 0.08908909],
       [0.00606849, 0.01501502],
       [0.00205895, 0.00760761],
       [0.00216732, 0.02902903],
       [0.00563502, 0.04504505],
       [0.00238405, 0.01621622],
       [0.00205895, 0.00700701],
       [0.00682705, 0.04704705],
       [0.00548331, 0.04504505],
       [0.00726051, 0.02802803],
       [0.00682705, 0.05305305],
       [0.00238405, 0.02702703],
       [0.00238405, 0.        ],
       [0.00249241, 0.001001  ],
       [0.00530993, 0.08308308],
       [0.004443  , 0.02302302],
       [0.00238405, 0.02702703],
       [0.00552666, 0.01001001],
       [0.00249241, 0.01241241],
       [0.00346771, 0.02642643],
       [0.00205895, 0.0016016 ],
       [0.00433463, 0.07627628],
       [0.00506068, 0.14914915],
       [0.00791071, 0.05905906],
       [0.00270915, 0.04704705],
       [0.00216732, 0.03703704],
       [0.00791071, 0.42542543],
       [0.00205895, 0.11911912],
       [0.00173385, 0.0990991 ],
       [0.00281751, 0.05905906],
       [0.00162549, 0.04104104],
       [0.00465973, 0.05105105],
       [0.00281751, 0.0028028 ],
       [0.00216732, 0.04304304],
       [0.00205895, 0.06306306],
       [0.00270915, 0.03503504],
       [0.00270915, 0.10910911],
       [0.00465973, 0.11911912],
       [0.00270915, 0.04904905],
       [0.00465973, 0.0970971 ],
       [0.00357607, 0.04704705],
       [0.00506068, 0.0990991 ],
       [0.        , 0.06906907],
       [0.00216732, 1.        ],
       [0.00205895, 0.06506507],
       [0.00270915, 0.06906907],
       [0.00281751, 0.10510511],
       [0.00465973, 0.18364965],
       [0.0701127 , 0.11511512],
       [0.05830082, 0.05545546],
       [0.04638058, 0.10602603],
       [0.04453836, 0.05561962],
       [0.05830082, 0.00599199],
       [0.07379714, 0.02398198],
       [0.05830082, 0.06866266],
       [0.08430863, 0.00587588],
       [0.05830082, 0.04129129],
       [0.04638058, 0.07062062],
       [0.15680537, 0.08615616],
       [0.14390984, 0.04438639],
       [0.0701127 , 0.06227027],
       [0.05830082, 0.03926727],
       [0.09839619, 0.07127127],
       [0.04453836, 0.02402402],
       [0.04453836, 0.02902903],
       [0.09839619, 0.08924525],
       [0.09839619, 0.07107107],
       [0.04453836, 0.07605205],
       [0.0701127 , 0.06306306],
       [0.07889033, 0.15441842],
       [0.09839619, 0.12188388],
       [0.09839619, 0.07146747],
       [0.04638058, 0.04407808],
       [0.05830082, 0.0484044 ],
       [0.04453836, 0.11311311],
       [0.09839619, 0.11911912],
       [0.0701127 , 0.10336737],
       [0.09839619, 0.08908909],
       [0.09839619, 0.02903103],
       [0.15680537, 0.02482482],
       [0.05830082, 0.10510511],
       [0.05830082, 0.00799199],
       [0.09839619, 0.02931131],
       [0.04453836, 0.02272072],
       [0.14390984, 0.13513514],
       [0.09839619, 0.1196016 ],
       [0.04453836, 0.04646446],
       [0.09839619, 0.06370771],
       [0.07379714, 0.0708028 ],
       [0.07379714, 0.06706707],
       [0.07889033, 0.01301301],
       [0.09839619, 0.0970971 ],
       [0.09839619, 0.14114114],
       [0.0701127 , 0.06906907],
       [0.09839619, 0.07107107],
       [0.04638058, 0.05905906],
       [0.07889033, 0.03303303],
       [0.14390984, 0.07093894],
       [0.10381448, 0.11251451],
       [0.0704378 , 0.06191592],
       [0.10381448, 0.0950951 ],
       [0.10381448, 0.10759159],
       [0.05450802, 0.10645646],
       [0.14390984, 0.09822222],
       [0.14390984, 0.07972773],
       [0.14390984, 0.04904905],
       [0.07238838, 0.07117918],
       [0.14390984, 0.0575035 ],
       [0.0612267 , 0.01021021],
       [0.05938448, 0.07912513],
       [0.07997399, 0.03103504],
       [0.07238838, 0.07913113],
       [0.09081058, 0.04144144],
       [0.07238838, 0.06906907],
       [0.09839619, 0.03790591],
       [0.05938448, 0.03703704],
       [0.10489814, 0.03669269],
       [0.10489814, 0.13781982],
       [0.10489814, 0.13826226],
       [0.10489814, 0.05425425],
       [0.07780668, 0.12152753],
       [0.07022107, 0.03203203],
       [0.14390984, 0.06056657],
       [0.14390984, 0.04864865],
       [0.14390984, 0.0426026 ],
       [0.0875596 , 0.00700701],
       [0.14390984, 0.07933133],
       [0.06046814, 0.02795796],
       [0.07889033, 0.10001201],
       [0.14824447, 0.12512513],
       [0.12440399, 0.01703704],
       [0.06046814, 0.01861862],
       [0.08864326, 0.02914715],
       [0.08214131, 0.05619419],
       [0.07780668, 0.08708709],
       [0.14390984, 0.06706707],
       [0.14390984, 0.02098098],
       [0.06588643, 0.03703704],
       [0.06263546, 0.06191592],
       [0.0875596 , 0.02302302],
       [0.10381448, 0.07507508],
       [0.07022107, 0.0651031 ],
       [0.13838318, 0.11927127],
       [0.12223667, 0.06704304],
       [0.06046814, 0.11911912],
       [0.11573472, 0.17504304],
       [0.1319896 , 0.01701702],
       [0.06046814, 0.00993794]])

In [36]:
model.fit(scaledX,a)

LinearRegression()

In [37]:
model.score(scaledX,a)

0.7960259751145163

In [39]:
model.predict([[0.85,0.69]])

array([36.45933786])